

<ion-header>
  <ion-navbar>
    <ion-title>Journal Entries</ion-title>
  </ion-navbar>
</ion-header>
<ion-header>
  <ion-navbar>
    <ion-title>Journal Entries</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding class="card-background-page"> 
  <h1 text-center>My Photo Journal</h1>
  <h4 text-center *ngIf="entries.length === 0">
    There are no journal entries available, please add some to view.
  </h4>
  
<!--Creating an example card to base off of when an entry is loaded
  <ion-card>
    <img src="assets/imgs/Weekend-Family-Picnic-Stock-Photo-04.jpg">
    <ion-card-content>
    <ion-card-title>
    Our Family Picnic
    </ion-card-title>
    <p>April 20, 2020 <br> Veterans Memorial Park</p>
    
    <p><br>
      We had such a blast at the Veterans Memorial Park earlier this week! We ate some pizza, and played games. It was beautiful and sunny! Amazing time with the family.
    </p>
    </ion-card-content>

  </ion-card>-->

  <!--Another card example design follows used for scrolling through multiple entries in 
  an attractive format-->

  <ion-list>
    <ion-list-header>
      <div text-center>Entries</div>
    </ion-list-header>
  
  <ion-item-sliding *ngFor="let entry of entries; let i = index" #slidingItem>
    <ion-item>
      <ion-card (click)="viewEntry(entry)">
        <img src="{{entry.picture}}">
        <div class="card-title">{{entry.title}}</div>
        <div class="card-subtitle">{{entry.itemDate | date:MMMddYYY:'+600'}}</div>
      </ion-card>
      </ion-item>
    <ion-item-options>
      <button (click)="removeEntry(entry, entry._id)" ion-button color="danger" icon-start>
      <ion-icon name="trash"></ion-icon>
      Delete
      </button>
      <button (click)="editEntry(entry, entry._id)" ion-button color="tertiary" icon-start>
        <ion-icon name="create"></ion-icon>
        Edit
        </button>
    </ion-item-options>
    
    </ion-item-sliding>   
  
  </ion-list>

  


